<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="config" default="mobile_manipulation"/>
  <!-- Parameters to pass to the ROS node -->
  <arg name="move_group" default="arm"/>
  <arg name="ee_link" default="iiwa_link_ee"/>
  <arg name="ros_rate" default="50"/>

  <!--  This loads the robot description  -->
  <include file="$(find ridgeback_iiwa_manipulation)/launch/manipulation.launch">
      <arg name="open_rviz" value="$(arg open_rviz)"/>
      <arg name="config" value="$(arg config)"/>
  </include>

  <!-- Here we call the ROS node we have written, with the parameters on top   -->
  <node name="SimpleManipulation" pkg="ridgeback_iiwa_manipulation" type="simple_manipulation" respawn="false" output="screen">
    <param name="move_group" value="$(arg move_group)"/>
    <param name="ee_link" value="$(arg ee_link)"/>
    <param name="ros_rate" value="$(arg ros_rate)"/>
  </node>

</launch>
