<?xml version="1.0"?>
<launch>
  <arg name="config" default="base" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="1" />
  <arg name="yaw" default="0" />
  <arg name="joystick" default="true" />
  <arg name="robot_name" default="iiwa" />
  <arg name="model" default="iiwa7"/>
  <arg name="joint_state_frequency" default="100" />
  <arg name="robot_state_frequency" default="100" />
    

  <!-- Load Ridgeback's description, controllers, and teleop nodes. -->
  <param name="robot_description"
         command="$(find ridgeback_description)/scripts/env_run
                  $(find ridgeback_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find ridgeback_description)/urdf/ridgeback.urdf.xacro
                  --inorder " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <include file="$(find ridgeback_control)/launch/teleop.launch">
    <arg name="joystick" value="$(arg joystick)"/>
  </include>
  <rosparam param="/gazebo_ros_control/pid_gains">
    front_left_wheel:
      p: 1
      i: 0.1
      d: 0
    front_right_wheel:
      p: 1
      i: 0.1
      d: 0
    rear_left_wheel:
      p: 1
      i: 0.1
      d: 0
    rear_right_wheel:
      p: 1
      i: 0.1
      d: 0
  </rosparam>

  <!-- Spawn Ridgeback -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model ridgeback -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />

  <!-- CONTROLLER -->
  <!-- Loads controller configurations from YAML file to parameter server -->
  <rosparam file="$(find iiwa_control)/config/iiwa_control.yaml" command="load" />
  <!--param name="/$(arg robot_name)/joint_state_controller/publish_rate" value="$(arg joint_state_frequency)" /-->
  <rosparam command="load" file="$(find ridgeback_control)/config/control.yaml" />

  <group if="$(optenv RIDGEBACK_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env RIDGEBACK_CONTROL_EXTRAS_PATH)" />
  </group>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />

  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
        args="cmd_vel ridgeback_velocity_controller/cmd_vel" />

    
  <!-- Loads the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller 
              PositionJointInterface_J1_controller
               PositionJointInterface_J2_controller
               PositionJointInterface_J3_controller
               PositionJointInterface_J4_controller
               PositionJointInterface_J5_controller
               PositionJointInterface_J6_controller
               PositionJointInterface_J7_controller
               PositionJointInterface_trajectory_controller ridgeback_joint_publisher ridgeback_velocity_controller" />


  <!-- Converts joint states to TF transforms for rviz, etc -->
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <param name="publish_frequency" value="$(arg robot_state_frequency)" />
  </node-->


</launch>
