<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find ridgeback_iiwa_navigation)/maps/ridgeback_race.yaml"/>
  <arg name="scan_topic" default="front/scan" />
  <arg name="open_rviz" default="true"/>
  <arg name="config" default="localization"/>

  <!--- Move Base, AMCL, Map Server -->
  <include file="$(find ridgeback_navigation)/launch/amcl_demo.launch" >
    <arg name="scan_topic" value="$(arg scan_topic)" />
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <include file="$(find ridgeback_iiwa_viz)/launch/view_robot.launch" >
      <arg name="config" value="$(arg config)" />
    </include>
  </group>
</launch>
