<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find ridgeback_iiwa_navigation)/maps/ridgeback_race.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Ridgeback -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!--- AMCL -->
  <arg name="scan_topic" default="front/scan" />
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_a" default="0.0" />
  <include file="$(find ridgeback_navigation)/launch/include/amcl.launch" >
    <arg name="scan_topic"     value="$(arg scan_topic)" />
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

  <!--- Move Base -->
  <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ridgeback_iiwa_navigation)/rviz/localization.rviz" output="screen"/>
  </group>
</launch>
