<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="scan_topic" default="front/scan" />
  <arg name="config" default="gmapping"/>

  <!--- Run gmapping -->
  <include file="$(find ridgeback_navigation)/launch/include/gmapping.launch">
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

  <!--- Move Base -->
  <include file="$(find ridgeback_navigation)/launch/include/move_base.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <include file="$(find ridgeback_iiwa_viz)/launch/view_robot.launch" >
      <arg name="config" value="$(arg config)" />
    </include>
  </group>
</launch>
