<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="config" default="navigation"/>

  <!--- Move Base -->
  <include file="$(find ridgeback_navigation)/launch/odom_navigation_demo.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <include file="$(find ridgeback_iiwa_viz)/launch/view_robot.launch" >
      <arg name="config" value="$(arg config)" />
    </include>
  </group>
</launch>
