<launch>
  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <!-- Parameters to pass to the ROS node -->
  <arg name="move_group" default="arm"/>
  <arg name="ee_link" default="iiwa_link_ee"/>
  <arg name="ros_rate" default="50"/>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find ridgeback_iiwa_moveit)/launch/move_group.launch" />

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ridgeback_iiwa_manipulation)/rviz/manipulation.rviz" output="screen"/>
  </group>

</launch>
